h1{
    color: red;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}
.center-block{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

header{
    background-color: pink;
    height: 100px;
}

section{
    background-color: paleturquoise;
    height: 100px;
}

footer{
    background-color: pink;
    height: 100px;
}